@import "global.css";
@import "variaveis.css";
@import "forms.css";

.inputs-container{
    margin: 48px 0 0 130px;
}

.inputs-title{
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
}

.inputs-form{
    display: flex;
    flex-direction: row;
}

input[type="file"] {
    display: none;
}

.inputs-label{
    border-radius: 8px;
    color: var(--gray);
    border: 2px solid var(--gray-100);
    width: 288px;
    height: 212px;
}

.input-text{
    width: 328px;
    height: 56px;
    margin-bottom: 16px;
}

.input-description{
    width: 417px;
    height: 136px;
    margin-bottom: 16px;
}

.inputs-and-button{
    display: flex;
    flex-direction: column;
}

.inputs-button{
    width: 121px;
    height: 56px;
    border-radius: 8px;
}

.input-description-and-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}