@import "global.css";
@import "variaveis.css";
@import "forms.css";

.inputs-container{
    margin: 48px 0 0 130px;
}

.inputs-title{
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
}

